<% @audiences.each do |audience| %>
<%= form_for audience do |f| %>

  <div class="col-md-6">

    <%= f.text_field :name, class: "form-control" %>

 <%= f.submit "edit an audience!", :style => "display: none;"  %>
  </div>
<% end %> 
<% end %>