	<div id="whole">
		<div id="top">
			<H1>Project Topic Generator v3.0</H1>
		</div>

		<section id="container">
			<div ><h3>A <%= @idea.app.name%> for <%= @idea.audience.name%></h3></div>
			<button>I like this idea</button>
		</section>

	</div>