	<div id="whole">
		<div id="top">
			<H1>Project Topic Generator v3.0</H1>
		</div>

		<section id="container">
			<div ><h3>A <%= @idea.app.name%> for <%= @idea.audience.name%></h3></div>
			<button>I like This Idea</button>
			<%= button_to "Give me another idea", root_path, :method => :get %>
		</section>

	</div>