<% @apps.each do |app| %>

<%= form_for app do |f| %>

  <div class="col-md-6">

    <%= f.text_field :name, class: "form-control" %>

 <%= f.submit "edit an app!", :style => "display: none;"  %>
  </div>
<% end %> 

<% end %>