<% @apps.each do |app| %>

<%= form_for app do |f| %>

  <div class="col-md-6 form-group">
	<div class="col-md-10" >
    	<%= f.text_field :name, class: "form-control" %>
    </div>
	<div class="col-md-2 col-form-label">
		<%= link_to("x", app_path(app), method: :delete, data: {confirm: "You sure?"}) %>
	</div>
	<%= f.submit "edit an app!", :style => "display: none;"  %>
  </div>
  
<% end %> 

<% end %>